<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="UserSuite">
    <listeners>
        <listener class-name="Petstore.api.utilities.ExtentReportManager"/>
    </listeners>
    <test name="UserTests" thread-count="5">
    <classes>
        <class name="Petstore.api.test.UserTests"></class>
        <class name="Petstore.api.test.UserTestsDrivingFromProperties"></class>
          <class name="Petstore.api.test.DataDrivenTests"></class>
</classes>
</test>
</suite>